body {
    background: rgb(58, 28, 78);
  }
.Toolbar {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    color: aliceblue;
    font-variant: small-caps;
    text-align: left;
    background: rgb(58, 28, 78);
    padding-left: 5% ;
    padding-right: 5%;
    padding-top: 10px;
    border: 0;
}

#Upload{
   color:black;
   margin-left: 10px;
}
   
  .Toolbar button {
    padding: 3px;
    margin: 0px 0px 0px;
    font-variant: normal;
    font-size: 12px;
    color : rgb(250, 250, 250);
  }

  .btn-group{
    margin: 0px 15px 0px;
  }

  input[type=number] {
    padding: 2px 4px;
    background-color:rgb(66, 16, 107);
    margin: 0 0 10px;
    border: 2px solid purple;
}

input[type=text] {
  padding: 2px 4px;
  background-color:rgb(66, 16, 107);
  margin: 0 0 10px;
  border: 2px solid purple;
}  

#thickness{
  background-color:white;
  border-bottom: 2px solid grey;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  margin-left: 10px;
  color: black;
}
#url_string{
  background-color:white;
  border-bottom: 2px solid grey;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  margin-left: 10px;
  color: black;
}
  canvas {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
  }
   
  #savedCopyContainer {
    display: none;
  }

  #savedCopyContainer img {
    width: 30%;
    height: 30%;
    background: rgba(255, 255, 255, 0.541);
  }
  .footer{
    float: right;
  }